/* ajustes_styles.css: Estilos específicos para ajustes.html */

:root {
  --color-primary: #DA291C;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #888B8D;
  --color-accent: #4298B5;
}

.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.centrar-objetos {
  align-items: center;
}

.button-4 {
  background-color: var(--color-gray);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  padding: 6px 16px;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button-4-settings {
  width: 46%;
}

.button-4-half {
  width: 80px;
  height: 80px;
  font-size: 4rem;
}

.button-4:hover,
.button-4-select {
  background-color: var(--color-accent);
}

.button-4:disabled {
  background-color: var(--color-gray);
  color: var(--color-white);
  cursor: default;
}

.capitalize {
  text-transform: capitalize;
}
