@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50px;
  font-family: Arial, sans-serif;
}

body {
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section{
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  --border: rgb(226, 46, 46);
  --borderDark: rgba(226, 46, 47, 0.25);
  --borderDarker: rgba(226, 46, 47, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 40%;
  --fgColorH: 0;
  --fgColorS: 0%;
  --fgColorL: 67%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  /* border: 1px solid var(--border); */
  border-radius: var(--borderRadius);
  /* box-shadow: 0 1rem 1rem -0.75rem var(--border); */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

form .email,
form .email a {
  color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  font-size: 2rem;
  order: 4;
  text-align: center;
  margin-top: 0.1farem;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  display: inline;
}

form a:hover {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  transition: color 0.25s;
}

form a:focus {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  outline: 1px dashed
    hsl(
      var(--fgColorH),
      calc(var(--fgColorS) * 2),
      calc(var(--fgColorL) * 1.15)
    );
  outline-offset: 2px;
}

form > div {
  order: 2;
}

label {
  display: flex;
  flex-direction: column;
}

.label-show-password {
  order: 3;
}

label > span {
  color: var(--borderDarker);
  display: block;
  font-size: 0.825rem;
  margin-top: 0.625rem;
  order: 1;
  transition: all 0.25s;
}

label > span.required::after {
  content: "*";
  color: #dd6666;
  margin-left: 0.125rem;
}

label input {
  order: 2;
  outline: none;
}

label input::placeholder {
  color: var(--borderDark);
}

/* trick from https://css-tricks.com/snippets/css/password-input-bullet-alternatives/ */
label input[name="password"] {
  -webkit-text-security: disc;
}

input[name="show-password"]:checked ~ div label input[name="password"] {
  -webkit-text-security: none;
}

label:hover span {
  color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

input[type="checkbox"] + div label:hover span::before,
label:hover input.text {
  border-color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

label input.text:focus,
label input.text:active {
  border-color: hsl(
    var(--fgColorH),
    calc(var(--fgColorS) * 2),
    calc(var(--fgColorL) * 1.15)
  );
  box-shadow: 0 1px
    hsl(
      var(--fgColorH),
      calc(var(--fgColorS) * 2),
      calc(var(--fgColorL) * 1.15)
    );
}

input.text:focus + span,
input.text:active + span {
  color: hsl(
    var(--fgColorH),
    calc(var(--fgColorS) * 2),
    calc(var(--fgColorL) * 1.15)
  );
}

input {
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.25rem;
  margin-top: 0;
  order: 2;
  width: 100%;
  transition: all 0.25s;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

/* EStilos botones */

.botones-esquina {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.boton {
  font-size: 0.5rem;
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actual-line {
  font-size: 36px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}