@import "normalize.css";
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F9F9F9;

}

a {
    text-decoration: none;
    color: #000000;
}


h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 0;
}

img {
    width: 300px;
}

p{
    font-size: 2rem;
    margin: 0;
}

.a-estilos {
    width: 100%;
    min-width: 400px;
    margin: 10px;
    flex: 1;
}

.body-center {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.centrar-objetos {
    align-items: center;
}

.direction-row{
    flex-direction: row;
}

.direction-column{
    flex-direction: column;
}

/* Estilos para card */
.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
}

.select-position{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    min-width: 150px;
    min-height: 150px;
    margin: 0 25px;
}

.div-button-cancel {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

.cancel-button {
    background-color: #BD2130;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    min-height: 50px;
}

.cancel-button:hover {
    background-color: #c82333;
}

/* Estilos para el estado de la card */
.employee-ok {
    background-color: #28A745;
}

.employee-nook {
    background-color: #FFC107;
}

.employee-warning {
    background-color: #DC3545;
}

.employee-disabled{
    background-color: #808080;
}

.employee-no-necessary {
    background-color: #6C757D;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;

}

/*  ESTILOS PARA LA PANTALLA FINAL */
.exito-final {
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    min-height: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
}

.exito-final p {
    margin: 10px 0;
}

.exito-principales {
    font-size: 60px;
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}


/* CSS botones ajustes */
.header-ajustes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E9ECEF;
    color: #000;
    height: 100px;
    padding: 5px 20px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 80%;
}

.button-4 {
    appearance: none;
    background-color: #6C757D;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 4rem;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

  .button-4-small{
    width: 10%;
    height: 100%;
  }

  .button-4-half{
    width: 80px;
    height: 80px;}
  
  .button-4:hover {
    background-color: #4E555B;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }

  .button-4:focus {
    outline: 1px transparent;
  }

  .button-4:before {
    display: none;
  }

  .button-4:-webkit-details-marker {
    display: none;
  }

  .button-4-select{
    background-color:#4E555B;
  }

  .botones{
    display: flex;
    width: 20%;
    justify-content: right;
    align-items: center;
  }

  /* EStilos para la página unauthorized */
.unauthorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Estilos para el formulario */
form {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6C757D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4E555B;
}

.center-height-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.separate-h3{
    margin-right: 20vw;
}

.h3-contexto{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #c9c7c7cb;
    border-radius: 5px;
    padding-top: 10px;
}

.texto-de-botones .big-text{
    font-size: 80px;
    font-weight: bold;
}



#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

dialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    form {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
    select, button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
    }
}

/* Estilos para la página de selección de inyectoras */
.label-checkbox{
    display: flex;
    align-items: center;
    width: 30%;
    font-size: 1.5rem;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

/* Estilos para dashboards */
.card-dashboard {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    width: 450px;
    height: auto;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    justify-content: center;
}

.small-card-dashboard {
    width: 150px;
    height: 150px;
    margin: 0 10px;
}

.card-dashboard:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4298B5;
    padding: 6px;
}

.information p{
    font-size: 1.5rem;
    margin: 0 6px;
}

/* CSS styles for the loading screen */
.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}