<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Direct Labor Efficiency{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block scripts %}
    <!-- Ejemplo: <script src="{{ url_for('static', filename='js/main.js') }}" defer></script> -->
    {% endblock %}
</body>
</html>