<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actividades fuera de estándar - AFE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="body-center">
    <div class="header">
        <h1 class="uppercase">AFE - Actividades fuera de estándar</h1>
        <h2>Selecciona la(s) actividad(es) que vas a realizar</h2>
    </div>
    {% for activity in activities %}
    <form method="get" action="/successful">
        <input type="hidden" name="side_id" value="{{ side_id }}">
        <input type="hidden" name="activity_id" value="{{ activity.id }}">
        <button type="submit" class="activity-button">
            {{ activity.name }}
        </button>
    </form>
    {% endfor %}
    <div class="div-button-cancel">
        <button onclick="window.location.href='/menuStation'" class="cancel-button">Cancelar</button>
    </div>
</body>
</html>
