<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ css_file }}">
    <title>Ajustes de línea</title>
</head>
<body>
    <div class="header-ajustes">
        <p>Selecciona la línea que quieres establecer para los registros</p>
        <button class="button-4 button-4-small" onclick="window.location.href = '/'">Regresar</button>
    </div>

    <div class="menu centrar-objetos direction-column">
        {% for num in range(num_botones) %}
            <button class="button-4
                {% if lineas[num] == active_line %}
                    button-4-select
                {% endif %}
            " type="button" onclick="window.location.href = '/changeLine?line={{ lineas[num] }}'">
                {%if lineas[num] == 'inyectoras' %}
                    Área de inyección
                {% else %}
                    Línea {{ lineas[num] }}
                {% endif %}
            </button>
        {% endfor %}
    </div>

    <div class=" menu centrar-objetos">
        <button class="button-4" onclick="window.location.href = '/general_exit_from_line'">
            Salida general de línea
        </button>

        <button class="button-4" onclick="">
            Cambio de línea
        </button>
    </div>
</body>
</html>