<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario registrado</title>
    <link rel="stylesheet" href="{{ css_file }}">
</head>
<body>
    <div class="exito-final" 
        {% if tipo == 'Entrada' %}
            style="background-color: yellow;"
        {% else %}
            style="background-color: red;"
        {% endif %}
    >
        <p>{{ tipo }} registrada para</p>
        <p class="exito-principales">{{ usuario }}</p>
        <p>en la estación</p>
        <p class="exito-principales">{{ estacion }}</p>
        <p>en la línea</p>
        <p class="exito-principales">{{ linea }}</p>
        <p>con el horario</p>
        <p class="exito-principales">{{ horario }}</p>
        <p class="exito-principales">¡Gracias por tu colaboración!</p>
    </div>
</body>

<script>
    setTimeout(function() {
        window.location.href = "/";
    }, 5000);
</script>
</html>