<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ css_file }}" />
    <title>Registro de entrada</title>
  </head>

  <body>
    <section>
      <div class="reloj">
        <span id="tiempo">00 : 00</span>
      </div>
    </section>
    <script src="{{ js_file }}"></script>

    <form
      method="post"
      action="/menuStation"
      id="login-form"
      class="login-form"
      autocomplete="off"
      role="main"
    >
      <picture>
        <source srcset="{{ img_file }}" />
        <img src="{{ img_file }}" alt="Logo" class="img" />
      </picture>

      <div>
        <label class="label-email">
            <input
            type="password"
            class="text"
            name="employee_number"
            tabindex="1"
            required
            autofocus
            autocomplete="new-password"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)"
            minlength="10"
            />
          <span class="required">Escanea tu credencial</span>
        </label>
      </div>
      
    </form>

    <div class="botones-esquina">
      <p class="actual-line capitalize"> 
        {{ actual_line }} {{station}}
      </p>

      <button class="boton" onclick="location.href='/settings'">
        <p>🛠️</p>
      </button>

      <button class="boton" onclick="location.href='/visualizaciones_lines'">
        <p>📊</p>
      </button>
    </div>
  </body>
</html>