<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{css_file}}">
    <title>Iniciar sesión</title>
</head>

<body>
    <div class="center-height-div">
        <form action="{{ url_for('settings.login_validation')}}"" method='POST'>
            <div class="form-group">
                <label for="username">Tarjeta del supervisor</label>
                    <input 
                        type="password"
                        class="text"
                        name="username"
                        tabindex="1"
                        placeholder="Escanea tu credencial"
                        required
                        autofocus
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    />
            </div>
            <button class="button-4" onclick="window.location.href='/'">Cancelar</button>
        </form>
    </div>
</body>
</html>