<!--
This file represents the menu template for the DLE2 application.
It contains the HTML structure for the menu section of the application.

Author: [Abarca de Jesús Mario Adair]
Date: [2024-07-16]
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú</title>
        <link rel="stylesheet" href="{{ css_file }}">
    </head>

    <body class="body-center">
        <div class="header">
            <h1 class="uppercase">
                {{line}}
            </h1>

            <h2 class="uppercase">
                Selecciona tu {{tipo}}
            </h2>

            <div class="h3-contexto">
                <h3>
                    Real: {{total_employees}}
                </h3>
                <h3>
                    Fuera de estándar: {{total_capacity}}
                </h3>
            </div>
        </div>

        <div class="menu">
            {% for card in cards %}
                <div class="card {% if card.status == false%} hidden {%endif%}">
                    <h2>{{tipo}} {{card.position_name}}</h2>
                    <div class="select-position">
                        {%for side in card.sides%}
                            <a href="/successful?id={{side.side_id}}" class="card-dashboard small-card-dashboard uppercase {{side.class}}">
                                <h3>{{side.side_title}}</h3>
                                <p><i class="fi fi-rr-user"></i>{{side.employee_capacity}} <i class="fi fi-sr-user"></i> {{side.employees_working}}</p>
                            </a>
                        {%endfor%}
                    </div>
                </div>
            {%endfor%}
        </div>

        <div class="div-button-cancel">
            <button onclick="window.location.href='/'" class="cancel-button">Cancelar</button>
        </div>

        <div class="left">
            <p><i class="fi fi-rr-user"></i> Personal marcado en el estándar</p>
            <p><i class="fi fi-sr-user"></i> Personal actual</p>
        </div>
    </body>

</html>