<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href=" {{ css_file }} ">
</head>
<body>
    <div class="header">
        <h1 style="text-align: center;">Selecciona tu {{ tipo_seleccion }}</h1>
    </div>
    <div class="menu">
        {% if tipo_seleccion == 'línea' %}
            {% for i  in range (num_cards) %}
            <a href="/menuEstacion?linea={{lineas_capacidad_operadores[i][0]}}"><div class="card">
                <h3 
                {% if lineas_capacidad_operadores[i][1] == lineas_capacidad_operadores[i][2] %}
                    style="background-color: yellow;"
                {% else %}
                    style="background-color: red;"
                {% endif %}
                >
                    Línea {{ lineas_capacidad_operadores[i][0] }}
                </h3>

                <div class="texto-de-botones">
                    <p>
                        <i class="fi fi-rr-user"></i> {{ lineas_capacidad_operadores[i][1] }}
                    </p> 
                    <p>
                       <i class="fi fi-sr-user"></i> {{ lineas_capacidad_operadores[i][2] }}
                    </p>
                </div>
                
            </div></a>
            {% endfor %}

        {% else %}

            {% for i  in range (num_cards) %}
                <div class="card " 
                {% if lineas_capacidad_operadores[i][1] == lineas_capacidad_operadores[i][2] and lineas_capacidad_operadores[i][3] == lineas_capacidad_operadores[i][4] %}
                    style="background-color: yellow;"
                {% else %}
                    style="background-color: red;"
                {% endif %}
                >
               
                <h3>Estación {{ lineas[i] }}</h3>
                <div class="texto-de-botones">
                    <a href="/exito?estacion={{lineas_capacidad_operadores[i][0]}} LH"><div class="lado"
                    {% if lineas_capacidad_operadores[i][1] == lineas_capacidad_operadores[i][2] %}
                        style="background-color: yellow;"
                    {% else %}
                        style="background-color: red;"
                    {% endif %}
                    >
                        <p>
                            LH
                        </p>
                        <p>
                            <i class="fi fi-rr-user"></i> {{ lineas_capacidad_operadores[i][1] }}
                            <i class="fi fi-sr-user"></i> {{ lineas_capacidad_operadores[i][2] }}
                        </p>
                </div></a>
                <a href="/exito?estacion={{lineas_capacidad_operadores[i][0]}} RH"><div class="lado"
                   {% if lineas_capacidad_operadores[i][3] == lineas_capacidad_operadores[i][4] %}
                        style="background-color: yellow;"
                    {% else %}
                        style="background-color: red;"
                    {% endif %}
                   >
                        <p>
                            RH
                        </p>
                        <p>
                            <i class="fi fi-rr-user"></i> {{ lineas_capacidad_operadores[i][3] }}
                            <i class="fi fi-sr-user"></i> {{ lineas_capacidad_operadores[i][4] }}
                        </p>
                </div></a>
                </div>
                
            </div>
            {% endfor %}
        {% endif %}

        
    </div>

    <div>
        <button onclick="history.back()" class="cancel-button" style="float: right;">Cancelar</button>
    </div>

    
</body>
</html>