<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar inyectoras</title>
    <link rel="stylesheet" href="{{ css_file }}">

</head>

<body>
    <div class="container">
        <form id="inyectoras-form" action="/save-active-positions" method="POST">
            <h2>Selecciona las posiciones que estarán activas</h2>

            <div class="checkbox-group">
                {% for position in positions %}
                    <label class="label-checkbox capitalize">
                        {% if line == 'área inyección' %}
                            <input type="checkbox" id="{{ position[0] }}" name="position" value="{{ position[0] }}"
                            {% if position[1]  %} checked {%endif%} /><p>INY-{{position[0]}}</p>
                        {% else %}
                            <input type="checkbox" id="{{ position[0] }}" name="position" value="{{ position[0] }}"
                            {% if position[1]  %} checked {%endif%} /><p>{{position[0]}}</p>
                        {% endif %}
                    </label>
                {% endfor %}

            </div>
            <button type="submit" class="button-submit">Guardar Selección</button>
        </form>
    </div>
</body>
</html>
