{% extends "base/base_dashboards.html" %}

{% block title %}
    Selección de {{ title }} activas
{% endblock %}

{% block header %}
    <h1>Selecciona las {{ title }}</h1>
{% endblock %}

{% block content %}
    <form id="actives-form" action="/save-active-positions" method="POST">
        <div class="checkbox-group">
            {% for position in positions %}
                <div class="check-group">
                    <p>{{prefix}}{{ position[1] }}</p>
                    <input type="checkbox" id="{{position[0]}}" 
                        {% if position[2] %} checked {% endif %} name = "position" value="{{position[0]}}"
                    /><label class="label-c" for="{{position[0]}}"></label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Guardar selección</button>
    </form>
{% endblock %}
