{% extends "base/base_dashboards.html" %}

{% block title %} Ajustes {% endblock %}

{% block header %} <h1>Selecciona la línea</h1> {% endblock %}

{% block content %}
    <div class="container">
            <div class="menu centrar-objetos ">
                <button class="button-4" onclick="window.location.href = 'change_line_unique?line=área inyección'">Inyección</button>
                <button class="button-4" onclick="window.location.href = 'change_line_unique?line=área metalizado'">Metalizado</button>
            </div>
    </div>
{% endblock %}