<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario registrado</title>
    <link rel="stylesheet" href="{{ css_file }}">
</head>
<body>
    <div class="wallpaper {{color_class}}">
        <div class="exito-final">
            <p class="exito-principales">{{ tipo }} registrada para</p>
            <picture>
                <source srcset="{{ image }}" type="image/webp">
                <img src="{{ image }}" alt="Imagen de usuario" loading="lazy">
            </picture>
            <p class="exito-principales">{{ user }}</p>
                <p class="exito-principales capitalize">
                    {{ line }} estación {{station}} 
                </p>
        </div>
    </div>
</body>

<script>
    setTimeout(function() {
        window.location.href = "/";
    }, 3000);
</script>
</html>