<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario registrado</title>
    <link rel="stylesheet" href="{{ css_file }}">
</head>
<body class="body-center"
{% if tipo == 'Entrada' %}
style="background-color: #28A745;"
{% else %}
style="background-color: #DC3545;"
{% endif %}>
    <div class="exito-final"
    >
        <p class="exito-principales">{{ tipo }} registrada para</p>
        <picture>
            <source srcset="{{ imagen }}" type="image/webp">
            <img src="{{ imagen }}" alt="Imagen de usuario" loading="lazy">
        </picture>
        <p class="exito-principales">{{ usuario }}</p>
        <p class="exito-principales">Línea {{ linea }} Estación {{ estacion }}</p>
    </div>
</body>

<script>
    setTimeout(function() {
        window.location.href = "/";
    }, 3000);
</script>
</html>