<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuario registrado</title>
    <link rel="stylesheet" href="{{ css_href }}" />
  </head>

  <body>
    <div class="wallpaper {{color_class}} {{ animation_type }}">
      <div class="overlay-effect"></div>
      <div class="exito-final">
        <div class="message-box">
          <h2 class="success-message">{{ message }}</h2>
        </div>
        <p class="exito-principales">{{ tipo }} registrada para</p>
        {% if image %}
        <picture>
          <img src="{{ image }}" alt="Imagen de usuario" loading="lazy" />
        </picture>
        {% else %}
        <div class="no-photo-container">
          <i class="fi fi-sr-user no-photo-icon"></i>
          <div class="no-photo-text">Sin foto<br />registrada</div>
        </div>
        {% endif %}
        <p class="exito-principales">{{ user }}</p>
        <p class="exito-principales capitalize">
          {{ line }} estación {{station}}
        </p>
      </div>
    </div>
  </body>

  <script>
    setTimeout(function () {
      window.location.href = "{{ url_for('main.home') }}";
    }, 3000);
  </script>
</html>
