<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{css_file}}">
    <title>No autorizado</title>
</head>
<body>
    <div class="unauthorized">
        <h1>Identifícate</h1>
        <p>Acceso denegado. Por favor, inicie sesión para continuar.</p>
        <button class="button-4" onclick="window.location.href='/login'">Iniciar sesión</button>
        <button class="button-4" onclick="window.location.href='/'">Regresar al inicio</button>
    </div>
</body>
</html>